<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.user.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>uloginFilter</filter-name>
    <filter-class>com.user.filter.ULoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>uloginFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>InsertManager</display-name>
    <servlet-name>InsertManager</servlet-name>
    <servlet-class>com.servlet.InsertManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertManager</servlet-name>
    <url-pattern>/admin/insertManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditManager</display-name>
    <servlet-name>EditManager</servlet-name>
    <servlet-class>com.servlet.EditManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditManager</servlet-name>
    <url-pattern>/admin/editManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EeleteManager</display-name>
    <servlet-name>EeleteManager</servlet-name>
    <servlet-class>com.servlet.EeleteManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EeleteManager</servlet-name>
    <url-pattern>/admin/deleteManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendSpeech</display-name>
    <servlet-name>SendSpeech</servlet-name>
    <servlet-class>com.servlet.SendSpeech</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendSpeech</servlet-name>
    <url-pattern>/sendSpeech</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ULoginFilter</display-name>
    <filter-name>ULoginFilter</filter-name>
    <filter-class>com.user.filter.ULoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ULoginFilter</filter-name>
    <url-pattern>/uloginFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ULoginServlet</display-name>
    <servlet-name>ULoginServlet</servlet-name>
    <servlet-class>com.servlet.ULoginFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ULoginServlet</servlet-name>
    <url-pattern>/uloginServlet</url-pattern>
  </servlet-mapping>
</web-app>